*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#nav-bar {
    background-color: aquamarine;
    height: 60px;
    width: 100%;

}

ul{
    float: right;
    margin-right: 20px;
    
}
ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    font-size: large;
   
}
#header-img{
    height: 2rem;
    float: left;
    margin-top: 20px;
}

#video{
    padding: 5%;
    color: rgb(235, 236, 241);
}
#features {
    margin-top: 30px;
  }
  
  #features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
  }
  
  @media (max-width: 550px) {
    #features .icon {
      display: none;
    }
  }